@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.doto-font {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f7f6;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding-left: 2rem;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
  width: 70%;
}

.main-title {
  font-size: 4.4rem;
  color: #1d3557;
}

.sub-title {
  font-size: 1.84rem;
  font-weight: 600;
}

#registrationForm {
  width: 70%;
  max-width: 620px;
  padding: 20px 30px 20px 30px;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.form-title {
  width: 100%;
  text-align: left;
  margin-bottom: 1rem;;
}

#registrationForm h2 {
  font-size: 2.8rem;
  font-weight: 700;
  color: #1d3557;
}

#registrationForm h3 {
  font-family: "Doto", sans-serif;
  font-weight: bolder;
  font-size: 1.4rem;
  font-weight: 600;
  color: #1d3557;
  margin-left: 2px;
}

#registrationForm label {
  font-size: 1rem;
  color: #333;
  font-weight: 500;
  margin-bottom: 8px;
  align-self: flex-start;
}

input {
    margin-top: 6px;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

input:focus {
  outline: none;
  border-color: #457b9d;
}

button {
  padding: 12px;
  background-color: #1d3557;
  color: white;
  font-size: 1.1rem;
  border: none;
  border-radius: 4rem;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

button:hover {
  background-color: #175b85;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #1d3557;
  color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
}

footer p {
  margin: 0;
  font-size: 0.9rem;
}

main::-webkit-scrollbar {
  width: 12px;
}

main::-webkit-scrollbar-track {
  background: #f4f7f6;
  border-radius: 10px;
}

main::-webkit-scrollbar-thumb {
  background-color: #457b9d;
  border-radius: 10px;
}

main::-webkit-scrollbar-thumb:hover {
  background-color: #1d3557;
}

main {
  scrollbar-width: thin;
  scrollbar-color: #457b9d #f4f7f6;
}

@media (max-width: 600px) {
  main {
    flex-direction: column;
  }

  #registrationForm {
    width: 90%;
    padding: 20px;
  }

  h1 {
    font-size: 2rem;
  }

  #registrationForm h2 {
    font-size: 1.8rem;
  }
}
